<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../../reactfrontend/src/Css/home.css" type="text/css">
</head>
<body>
<h1>HomeFinder</h1>
<div>
    <h2 class="form-home">Add New Houses</h2>
    <form>
        <div>
            <input placeholder="Address"></input>
        </div>
        <div>
            <input placeholder="Bedrooms"></input>
        </div>
        <div>
            <input placeholder="Bathrooms"></input>
        </div>
        <div>
            <input placeholder="SquareFt"></input>
        </div>
        <div>
            <input placeholder="Price"></input>
        </div>
        <div>
            <input placeholder="Availability"></input>
        </div>
        <div class="form-button">
            <button type="submit">Add To Page</button>
        </div>
    </form>
</div>
<br>

<h2>Available</h2>
<div>
<img src="images/house1.jpeg" alt="Image Not Found"></img>
</div>
<br>

<h2>Processing</h2>
<div>

</div>
<br>

<h2>Sold</h2>
<div>

</div>
<br>

<h2>Mortgage Calculator</h2>
<div>
    <form>
        <div>
            <label>Home Value:</label>
            <input placeholder="Principle">
        </div>
        <div>
            <label>Interest Rate:</label>
            <input placeholder="Interest">
        </div>

        <div>
            <label>Loan Term:</label>
            <input placeholder="Mortgage">
        </div>
        <div>
            <button type="button">Calculate</button>
        </div>
    </form>
</div>
<!--<div align="center"><p><a href="https://www.mortgagecalculator.org" target="_blank"><img src="https://www.mortgagecalculator.org/images/mortgage-calculator-logo2.png" alt="MortgageCalculator.org" height="19" width="200" border="0"></a><br /><iframe src="https://www.mortgagecalculator.org/free-tools/calculator/" frameborder="0" width="260px" height="270" scrolling="no"></iframe><br /><a href="https://www.mortgagecalculator.org/free-tools/" target="_blank" style="text-decoration:none" ><font size="1" color="#000000">Free Mortgage Calculators</font></a></p></div>-->


<script src="../../../reactfrontend/src/javascript/home.js" type="application/javascript"></script>

</body>
</html>