<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/register.css" type="text/css">
    <title>Register</title>
</head>
<body class="container">
<div class="reg-form">
    <h1>REGISTER</h1>
    <br>
    <form id="register-form">
        <div class="form-username">
            <label for="register-username" class="p-tags">Username:</label>
            <input type="text" class="form-control" id="register-username" placeholder="Username">
        </div>
        <div class="form-password">
            <label for="register-password" class="p-tags">Password:</label>
            <input type="password" class="form-control" id="register-password" placeholder="Password">
        </div>
        <div class="sub-button">
            <button id="submit-button" type="submit" class="sub-button">Submit</button>
        </div>
        <br>
        <div class="login-but">
            <a href="./login.html" class="btn btn-secondary" class="login-but">Login</a>
        </div>
    </form>
</div>
<script src="./javascript/register.js" type="application/javascript"></script>
</body>
</html>